@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Rouge+Script");
.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', Tahoma, sans-serif;
  width: 100%;
  min-height: 100%;
}

.header-wrapper {
  padding-bottom: 30px;
}

.navbar-item {
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

.navbar-item.is-active{
  border-bottom: 2px solid #674235;
}

.a.navbar-item{
  color: #674235;
}

.hero {
  background: linear-gradient(rgba(179, 139, 103, 0.65), rgba(103, 66, 53, 0.65)), rgba(0, 0, 0, 0.55) url("../image/hero-background.jpg") no-repeat center center scroll;
  background-size: cover;
  color: white;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: 'Raleway', sans-serif;
}

.hero .title {
  font-family: 'Rouge Script', sans-serif;
  font-weight: 700;
  transform: rotate(-2deg);
  font-size: 5rem;
  padding-bottom: 5px;
  color: whitesmoke;
  margin-bottom: 6rem;
}

@media screen and (min-width: 769px), print {
  .hero.is-large .hero-body {
      padding-bottom: 1rem;
      padding-top: 8rem;
  }

  .hero .title {
    margin-bottom: 8rem;
  }
}

.hero .subtitle {
  padding: 35px;
  color: whitesmoke;
  font-size: 1.3rem;
}

.hero .tempatwaktu {
  padding-top: 35px;
  font-size: 1.3rem;
}

.hero .hero-foot {
  height: 50px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

@media (max-width: 599px) {
  .hero .hero-foot {
    display: none;
  }
}

.hero .hero-foot .hero-foot--wrapper {
  margin: 7px auto;
  height: 50px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop {
  line-height: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li.is-active a {
  border-bottom: 2px solid #674235;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a {
  color: #674235;
}

.hero .hero-foot .hero-foot--wrapper .hero-menu-desktop ul li a:hover {
  color: #674235;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid #674235;
}

.space40px{
  height: 40px;
}

.space24px{
  height: 24px;
}

.main-content {
  padding-top: 2rem;
  color: #000; 
  font-family: 'Raleway', sans-serif;
}

.main-content .section-dark {
  background-color: #d9b380;
  padding: 80px 40px;
}

.main-content .section-darker {
  background-color: #c89f73;
  padding: 80px 40px;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 60px;
}

@media (max-width: 599px) {
  .main-content .section-dark {
    padding: 40px 20px;
  }
  
  .main-content .section-darker {
    padding: 40px 20px;
  }
  .main-content .section-dark.resume {
    padding-top: 75px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}

.main-content .section-dark.resume button {
  border: 2px solid #674235;
  background: white;
  color: #674235;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #674235;
}

.main-content .section-dark.my-work {
  padding: 80px 40px;
}

.main-content .section-cashbac {
  background-color: rgb(238, 250, 253);
  padding: 80px 40px; 
}

@media (max-width: 599px) {
  .main-content .section-dark.my-work {
    padding: 40px 20px;
  }
  .main-content .section-dark.foto-foto {
    padding: 40px 20px;
  }
}

.main-content .section-dark.foto-foto .foto-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

.section-map {
  padding: 0 0 0 0 ;
}

.main-content .section-light {
  padding: 80px 40px;
}

.main-content .section-light.regular-section {
  padding-bottom: 80px;
}

.main-content .section-light.regular-section .is-larger {
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .main-content .section-light {
    padding: 40px 20px;
  }
  .main-content .section-light.regular-section .about-links {
    text-align: center;
  }
}

.main-content .section-light.regular-section .right-image img {
  border-radius: 11px;
  margin: 20px;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

@media (max-width: 599px) {
  .main-content .section-light.regular-section .right-image img {
    margin: auto;
  }
}

.main-content .section-light.skills {
  padding: 100px;
}

@media (max-width: 599px) {
  .main-content .section-light.skills {
    padding: 50px 20px 40px 20px;
    padding-bottom: 20px;
  }
}

.main-content .section-light.skills h1 {
  padding: 10px;
  font-size: 24px;
}

.main-content .section-light.contact {
  padding: 80px;
}

.main-content .section-light.contact button {
  width: 100%;
  color: white;
  height: 50px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 599px) {
  .main-content .section-light.contact {
    padding: 40px 20px;
  }
}

.main-content .section-color.pertanyaan {
  padding: 100px;
  background-color: #674235;
  color: white;
}

.main-content .section-color.pertanyaan .title,
.main-content .section-color.pertanyaan .subtitle {
  color: white;
}

.main-content .section-color.pertanyaan i {
  font-size: 3rem;
  padding: 20px;
}

.main-content .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #674235;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0px;
  padding-bottom: 30px;
}

.main-content .section-title.form-title {
  padding-bottom: 0px;
  font-size: 1.2rem;
}

.nama-lengkap {
  font-family: 'Rouge Script', sans-serif;
  color: #674235;
  font-size: 3.5rem;
  letter-spacing: 0px;
  padding-bottom: 6px;
  line-height: 3.7rem;
}

.ampersand {
font-size: 5rem;
font-family: 'Rouge Script', sans-serif;
color: #674235;
line-height: 5rem;
display: inline-block;
vertical-align: middle;
}

.bodytext {
  font-size: 18px;
  padding: 1rem;
}

.time {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.tanggal-angka {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  line-height: 1;
}

.tempat {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  /* margin-bottom: 50px; */
}

.tempat strong {
  color: #674235;
}

.has-vertically-align {
  vertical-align: middle;
}

.footer {
  bottom: 0;
  width: 100vw;
  padding: 10px 10px 10px 10px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background: #674235;
  color: whitesmoke;    
}

.footer p {
  color: white;
  font-weight: 500;
  font-size: 10pt;
  display: inline-block;
  vertical-align: middle;
}

.main-content .no-padding-top {
  padding-top: 0px;
}

.footer img {
  margin: 10px 0px 10px 10px;
  display: inline-block;
  max-height: 24px;
  vertical-align: middle;
}

.footer a .nav-item {
  color: whitesmoke;
}

.fa-download {
  color: #43485c;
}

.divider {
  margin: 25px;
  display: inline-block;
  max-height: 120px;
  vertical-align: middle;
}

.bismillah {
  margin: 25px;
  display: inline-block;
  max-height: 50px;
  vertical-align: middle;
}

#toTop {
  position: fixed;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

/* Up Arrow Swipe */

.arrow-up {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid #674235;
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #674235;
  position: absolute;
  display: block;
  z-index: 0;
}

.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  transform: rotate(-45deg);
  &:after {
    content: "";
    background-color: #674235;
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: right center;
    z-index: -1;
  }
}

.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
  &:after {
    content: "";
    background-color: #674235;
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: left center;
    z-index: -1;
  }
}

.arrow-up:hover {
  transition: all .1s;
  .left-arm:after {
    transform: rotate(-10deg);
  }
  .right-arm:after {
    transform: rotate(10deg);
  }
  .arrow-slide {
    transition: all .4s ease-in-out;
    transform: translateY(200%);
  }
}

#changeLanguage {
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 10;
  color: white;
  border-color: #674235;
  background-color: #674235;
  display: flex;
  justify-content: center;
  align-items: center;

  .arrow-slide {
    background: white;
  }
}

#changeLanguage::before, #changeLanguage::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  border: 1px solid #fff;
  animation: clippath 8s infinite linear;
}

#changeLanguage::after {
  animation: clippath 8s infinite -4s linear;
}

@keyframes clippath {
  0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #d9b380;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #674235;
  -webkit-box-shadow: inset 0 0 6px #674235;
  background-color: #674235;
}

body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #674235;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 120px;
}

.btn-whatsapp:hover {
  color: white;
  background-color: #59a543;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #59a543;
  width:  210px;
  height: 65px;
  align-items: center;
  margin: 1rem;
}

.btn-whatsapp {
  background-color: #6cc751;
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;  
  border-left: 1px solid #6cc751;
  border-right: 1px solid #6cc751;
  border-top: 1px solid #6cc751;
  border-bottom: 1px solid #6cc751;
  align-items: center;
  margin: 1rem;
}

.btn-cta {
  background-color: #674235;
  width:  210px;
  height: 65px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #674235;
  border-radius: 10px;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
}

.btn-cta:hover {
  color:white;
  border: 2px solid #674235;
}

.cashbac-logo-inline {
  width: 160px;
  vertical-align: middle;
}

.button-download {
  min-width: 200px;
  height: 55px;
  align-items: center;
  margin: 0.1rem;
}

.voucher-code {
  height: 55px;
  max-width: 180px;
  border: 2px solid #26ade4;
  border-radius: 10px 0 0 10px  ;
  font-size: 24px;
  padding: 15px;
}

.btn-voucher-code {
  height: 55px;
  min-width: 100px;
  border: 2px solid #26ade4;
  background-color: #26ade4;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  color: white;
}

.fa-copy {
  margin-right: 5px;
}
.white
{color:ghostwhite}


.dusty-pink {color: #b38b67}
.dusty-pink-lighter {color: #d9b380}
.dusty-pink-lightest {color: #d9b380}
.dusty-pink-darker {color: #674235}
.dusty-pink-darkest {color: #674235}

.tile {
  border-radius: 10px;
}

article.tile {
  display: flex;
  padding: 10px;
}

.tile .content {
  display: flex;
  flex-direction: column;
}

.foto1 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.1), rgba(48, 47, 47, 0.9)), url("../image/december-2018-karine-patryk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto2 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.1), rgba(48, 47, 47, 0.9)), url("../image/january-2019-karine-patryk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto3 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.1), rgba(48, 47, 47, 0.9)), url("../image/december-2019-karine-patryk.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto4 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.1), rgba(48, 47, 47, 0.9)), url("../image/december-2020-karine-patryk.jpg");
  background-size: cover;
  background-position: top;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto5 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.1), rgba(48, 47, 47, 0.9)), url("../image/may-2022-karine-patryk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto6 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.1), rgba(48, 47, 47, 0.9)), url("../image/january-2023-karine-patryk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.foto7 {
  background-image: linear-gradient(rgba(95, 2, 2, 0.1), rgba(48, 47, 47, 0.9)), url("../image/Engagement-2024-april.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 24rem;
}

.title-foto {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
  color: white;
}

.subtitle-foto {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 600;
  margin-top: 15px;
  text-align: left;
  color: white;
  margin-top: auto;
}

.prolog .subtitle {
  color: #000;
}

/* .section-light {
  background-image: url(../image/tahitian-bouquet.jpg);
  background-position: bottom 20px center;
  background-repeat: no-repeat;
  background-size: 20%;
} */

.instagram {
  color: #674235;
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.tag:not(body) {
  white-space: normal;
  height: auto;
}